.Menu {
    position: relative;

    &-container {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    &-toggle {
        color: $secondary-color-font;
        padding-left: 2em;
        background: $primary-color;
        line-height: 3;
        cursor: pointer;
        position: relative;
        z-index: 1000;

        &:before {
            margin-right: .3em;
            font-size: 1em;
        }

        @media screen and (min-width: $bp-m) {
            display: none;
        }
    }

    &-nav {

        @media screen and (max-width: $bp-m) {
            position: absolute;
            background: $primary-color-modal;
            width: 100%;
            top: -200vh;
            transition: all .4s;
            z-index: 80;

            &.is-active {
                top: 3em;
            }
        }
    }

    &-list {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 4;

        @media screen and (min-width: $bp-m) {
            display: flex;
        }

        &Item {
            border-bottom: 1px solid rgba(#FFF, .4);
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            transition: all .4s;

            @media screen and (min-width: $bp-m) {
                border: none;
            }

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background: rgba(#FFF, .4);

                @media screen and (min-width: $bp-m) {
                    background: #FFF;
                    color: #333;
                }
            }
        }

        &Link {
            text-transform: uppercase;
            color: $secondary-color-font;
            font-size: .75em;
            text-decoration: none;
            display: block;
            cursor: pointer;
            padding-left: 1em;
            font-weight: 600;
            transition: all .4s;

            @media screen and (min-width: $bp-m) {
                color: #FFF;
                text-align: center;
                padding: 0;

                &:hover {
                    color: #333;
                }
            }
        }
    }
}
