.Video {
    background: url('../img/04.jpg') center / cover no-repeat;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .6);
    }

    &-container {
        max-width: $max-container;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 4em 1em;
        position: relative;
        z-index: 50;

        @media screen and (min-width: $bp-m) {
            display: flex;
            text-align: left;
        }

        &Info {
            @media screen and (min-width: $bp-m) {
                width: 40%;
            }
        }

        &Button {
            @media screen and (min-width: $bp-m) {
                align-self: flex-end;
            }
        }
    }

    &-title,
    &-description {
        text-transform: uppercase;
        color: #fff;
    }

    &-title {
        font-size: 1.5em;
        margin: 0 0 .7em;
    }

    &-description {
        margin: 0 0 .7em;
        font-size: .75em;
    }

    &-button {
        border: 1px solid transparent;
        font-weight: bold;
        transition: all .3s;

        &:hover {
            border: 1px solid #FFF;
            background-color: transparent;
            color: #FFF;
        }


    }
}
