main.Discography
    .Discography-containerInfo
        h3.Discography-title Discography
        p.Discography-description  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    .Discography-containerGallery
        .Discography-feature
            figure.Discography-featureImg
                img(src="./public/img/01.jpg")
                figcaption Primer Album
            button.Discography-featureButton.Button(type="submit") More
        .Discography-feature
            figure.Discography-featureImg
                img(src="./public/img/02.jpg")
                figcaption Segundo Album
            button.Discography-featureButton.Button(type="submit") More
        .Discography-feature
            figure.Discography-featureImg
                img(src="./public/img/03.jpg")
                figcaption Tercero Album
            button.Discography-featureButton.Button(type="submit") More
        .Discography-feature
            figure.Discography-featureImg
                img(src="./public/img/07.jpg")
                figcaption Cuarto Album
            button.Discography-featureButton.Button(type="submit") More
        .Discography-feature
            figure.Discography-featureImg
                img(src="./public/img/05.jpg")
                figcaption Quinto Album
            button.Discography-featureButton.Button(type="submit") More
        .Discography-feature
            figure.Discography-featureImg
                img(src="./public/img/06.jpg")
                figcaption Sexto Album
            button.Discography-featureButton.Button(type="submit") More
