section.Features
    .Feature
        h3.Feature-title Useful info
            span 01
        h5.Feature-subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        p.Feature-description  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        p.Feature-description  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        button.Feature-button.Button Read more

    .Feature
        h3.Feature-title Fresh photos
            span 02
        figure.Feature-img
            img(src="./public/img/02.jpg")
            figcaption  Lorem ipsum dolor sit.
        button.Feature-button.Button View all
    .Feature
        h3.Feature-title Popular music
            span 03
        ul.Feature-list
            li.Feature-listItem: a.Feature-listLink(href="#") Rock
            li.Feature-listItem: a.Feature-listLink(href="#") Rock
            li.Feature-listItem: a.Feature-listLink(href="#") Rock Alternativo
            li.Feature-listItem: a.Feature-listLink(href="#") Rock
            li.Feature-listItem: a.Feature-listLink(href="#") Rock
            li.Feature-listItem: a.Feature-listLink(href="#") Rock
            li.Feature-listItem: a.Feature-listLink(href="#") Rock


