section.Menu
    .Menu-container
        .Menu-toggle.icon-menu#navId-toggle Menu
        nav.Menu-nav#navId
            ul.Menu-list#menuId
                li.Menu-listItem: a.Menu-listLink(href="#") Home
                li.Menu-listItem: a.Menu-listLink(href="#") Music
                li.Menu-listItem: a.Menu-listLink(href="#") Fresh news
                li.Menu-listItem: a.Menu-listLink(href="#") Links
                li.Menu-listItem: a.Menu-listLink(href="#") Contacts
