section.Biography
    .Biography-container
        .Biography-feature
            h3.Biography-title My bio
            p.Biography-description Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        .Biography-feature
            h3.Biography-title 2009 - 2015
            p.Biography-description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem nihil aut possimus alias facere eius aspernatur odio cum quaerat eligendi ullam adipisci earum doloribus, enim recusandae dolor officiis magnam neque.
        .Biography-feature
            h3.Biography-title 2003 - 2009
            p.Biography-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, modi eum natus fuga ullam neque amet autem! Qui labore quidem voluptatem iste adipisci
