section.News
    .News-container
        h3.News-title News & events
        .News-feature
            .News-featureDate
                p.News-featureDateDay 25
                P.News-featureDateMonth March
            .News-featureInfo
                p.News-featureInfoDescription Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum rem tenetur, incidunt.
        .News-feature
            .News-featureDate
                p.News-featureDateDay 23
                P.News-featureDateMonth March
            .News-featureInfo
                p.News-featureInfoDescription Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum rem tenetur, incidunt.
        .News-feature
            .News-featureDate
                p.News-featureDateDay 22
                P.News-featureDateMonth March
            .News-featureInfo
                p.News-featureInfoDescription Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum rem tenetur, incidunt.
        button.News-featureButton.Button(type="submit") Read more news

