section.Video
    .Video-container
        .Video-containerInfo
            h3.Video-title Video Background
            p.Video-description Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .Video-containerButton
            button.Video-button.Button(type="submit") View more
