<!DOCTYPE html>
html(lang="es")
head
    meta(charset="UTF-8")
    title The songs
    link(rel="stylesheet", href="./public/css/style.css")
body
    block content

    script(src="./public/js/script.js")

